*.dex

*.class

bin/
gen/

local.properties

a1.jar
a1-src.jar
joda-time-2.1-sources.jar
stanford-corenlp-1.3.4-sources.jar
jollyday-0.4.7-sources.jar
xom-src-1.2.8.zip
*.time
*.TIME

.classpath
.project
.settings/

